{% extends "base.html" %}
{% block content %}
{#  <div class="article">#}
{#    <h2>{{ article.title }}</h2>#}
{#    <div class="article-author">{{ article.author }}</div>#}
{#    <div class="article-content">#}
{#        <img src="{{ article.picture.url }}" alt="{{ article.title }}" class="article-picture">#}
{#        {{ article.content|safe }}#}
{#    </div>#}
    <div class="article">
            <div class="article-author">{{ article.author }}</div>
            <h2>{{ article.title }}</h2>
            <div class="article-content">
                <img src="{{ article.picture.url }}" alt="{{ article.title }}" class="article-picture">
                {{ article.content|safe}}
            </div>
            Thanks for reading!
        </div>
  </div>
{% endblock %}