{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={% static 'blog/style.css' %}>
</head>
<body>
    <header>
        <h1>Your Website Header</h1>
        <!-- Add your navigation bar or other header content here -->
    </header>

    <main>
        {% block content %}
            Nie ma nic.
        {% endblock %}
    </main>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}! <!-- Display user's information if authenticated -->
            <a href="{% url 'account_logout' %}">Logout</a>
        </p>
        {% else %}
            <p>
                <a href="{% url 'account_login' %}">Login</a> <!-- Display sign-in button if not authenticated -->
            </p>
    {% endif %}

    <footer>
        {% include "footer.html" %}
    </footer>

    <!-- Add your JavaScript links or scripts here -->
</body>
</html>
