{% extends "base.html" %}
{% block content %}
    <h1>Forum</h1>

    {% if latest_forum_posts %}
        <ul>
            {% for post in latest_forum_posts %}
                <li>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <p>Published on: {{ post.pub_date }}</p>
                    <p>Author: {{ post.author.username }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No forum posts available.</p>
    {% endif %}
{% endblock %}}
