{% extends "base.html" %}
{% block content %}

{% if latest_articles %}
    <div class="article-container">
    {% for article in latest_articles %}
        <div class="article">
            <div class="article-author">{{ article.author }}</div>
            <h2>{{ article.title }}</h2>
            <div class="article-content">
                <a href="{% url 'article' article.id %}">
                    <img src="{{ article.picture.url }}" alt="{{ article.title }}" class="article-picture">
                </a>
                {{ article.content|truncatewords:250|safe}}
            </div>
            <a href="{% url 'article' article.id %}">Continue reading</a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No articles available.</p>
{% endif %}
{% endblock %}}