{% extends 'base.html' %}

{% block content %}
  <h2>Category: {{ category.name }}</h2>

  <table class="forum-table">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Author</th>
        <th>Posts</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <td><a href="{% url 'subject_detail' subject.id %}">{{ subject.title }}</a></td>
          <td>{{ subject.author.username }}</td>
          <td>{{ subject.forumpost_set.count }}</td>
          <td>
              {% with last_post=subject.forumpost_set.last %}
                {% if last_post %}
                  {{ last_post.pub_date|date:"F j, Y" }} by {{ last_post.author.username }}
                {% else %}
                  No posts
                {% endif %}
              {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
      <h2>Add new subject</h2>
      <form method="post" action="">
          {% csrf_token %}
          <table class="form-table">
              {% for field in subject_form %}
                <tr>
                  <td>{{ field.label_tag }}</td>
                  <td>{{ field }}</td>
                </tr>
              {% endfor %}
          </table>
            <br />
          <button type="submit">Add subject</button>
      </form>
  {% else %}
  <p>Please log in to add new subjects.</p>
  {% endif %}
{% endblock %}
